.container {
  background-color: #000 !important;
}

.spaceTop {
  padding-top: 20px;
}

blockquote {
  margin: 0 0 0;
}

.card {
  margin-top: 100px;
  border: 0px !important;
}

@media (max-width: 768px) {
  .card {
    margin-top: 30px !important;
  }
}
